
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.pokemon-card {
  border: 2px solid #e67e22; /* Darker orange border */
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  width: 200px;
  background: linear-gradient(to bottom, #f1c40f, #f39c12); /* Yellow to orange gradient */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-5px); /* Lifts the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.pokemon-card-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.screen {
  min-height: 0px;
  text-align: center;
}

.pokemon-card-buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e67e22; /* Vibrant orange */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pokemon-card-buttons button:hover {
  background-color: #d35400; /* Darker orange on hover */
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}


.pokemon-card p {
  font-weight: bold;
  text-transform: capitalize; 
  font-size: 20px;
  color: #2c3e50; /* Darker text color for better readability */
}

.remove-favorite-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.estilobotonquitar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
