.pokemon-card {
  border: 2px solid #e67e22; /* Darker orange border */
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  width: 200px;
  background: linear-gradient(to bottom, #f1c40f, #f39c12); /* Yellow to orange gradient */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pokemon-card:hover {
  transform: translateY(-5px); /* Lifts the card on hover */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pokemon-card img {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.pokemon-card p {
  font-weight: bold;
  text-transform: capitalize; 
  font-size: 20px;
  color: #2c3e50; /* Darker text color for better readability */
}

.pokemon-card-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pokemon-card-buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e67e22; /* Vibrant orange */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pokemon-card-buttons button:hover {
  background-color: #d35400; /* Darker orange on hover */
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}

.remove-favorite-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease;
}

.remove-favorite-btn:hover {
  transform: scale(1.1);
}

.view-more-btn {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.view-more-btn:hover {
    background-color: #d35400;
    scale: 1.05;
    transition: all 0.3s ease;
}

.estilobotonquitar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease;
}

.estilobotonquitar:hover {
  transform: scale(1.1);
}